</v-app>
<script src="bower_components/vue/dist/vue.js"></script>
<script src="lib/vuetify/vuetify.min.js"></script>
<script src="lib/vue2-filters/vue2-filters.min.js"></script>
<script src="bower_components/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
<script src="bower_components/howler.js/dist/howler.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
<script src="lib/vue-charts/vue-charts.min.js"></script>
<script src="app.js"></script>
</body>

</html>